# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/
.eggs/

# Ambientes virtuais
.venv/
venv/
env/
.zed

# Pytest
.pytest_cache/
.coverage
htmlcov/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Env
.env
.env.*

# Ollama / dados locais
data/
*.db
*.sqlite

# Tailwind
bin/
app/frontend/static/output.css

# Logs
*.log

# scripts to Study
scripts_module/
