<!doctype html>
<html lang="pt-BR" class="dark" style="color-scheme: dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>{% block title %}StudyLLM{% endblock %}</title>
        <link rel="stylesheet" href="/static/output.css" />
        {% block head %}{% endblock %}
    </head>
    <body class="min-h-screen bg-background flex flex-col items-center justify-center">
        {% block content %}{% endblock %}
    </body>
</html>
